aiohttp
aiosignal
anyio
async-timeout
attrs
autopep8
cachetools
certifi
charset-normalizer
dataclasses-json
frozenlist
google-auth
google-auth-oauthlib
idna
langchain
marshmallow
marshmallow-enum
multidict
mypy-extensions
numpy
oauthlib
packaging
pyasn1
pyasn1-modules
pycodestyle
pydantic
PyYAML
requests
requests-oauthlib
rsa
six
sniffio
SQLAlchemy
starlette
tenacity
tomli
typing-inspect
typing_extensions
urllib3
yarl
python-dotenv
gunicorn
uvicorn
openai
faiss-cpu
unstructured
slack-bolt
supabase
